@inherits LayoutComponentBase
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<div class="d-flex w-100 h-100 position-absolute align-items-center justify-content-center">
    @Body
</div>

