@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<MudLayout>
     <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
    </MudAppBar>

    <MudDrawer @bind-Open="@_drawerOpen">
       <MudDrawerHeader style="background-color: #f5f5f5;">
  <div Class="d-flex flex-row flex-grow-1 gap-2" Elevation="0">
    <MudAvatar Color="Color.Primary">GS</MudAvatar>
    <div class="d-flex align-center" style="margin-left: 8px;">
      <MudText Align="Align.Center" Elevation="4" Typo="Typo.subtitle2">CRM</MudText>
    </div>
  </div>

</MudDrawerHeader>
<MudDivider />
        <NavMenu/>
    </MudDrawer>


    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraLarge">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}